/*
The default style sheet for the entire site.
*/

body {
	background-color: #0DFFCD;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 0 auto;
	width: 900px;
}

header {
	background-color: #0CD9E8;
	background-image: url("../img/title-background1.jpg");
	background-size: 100% 100%;
	min-height: 257px;
}

h1 {
	color: #fff;
	font-size: 2.2rem;
	font-weight: 400;
	margin: 0;
	padding: 150px 0 0 83px;
}

.wrapper {
	display: flex;
}

nav {
	background-color: #00AAFF;
	width: 35%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	padding-top: 40px;
	text-align: center;
}

nav li {
	color: white;
	padding: 10px 30px 30px 30px;
}

main {
	background-color: #0C65E8;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	width: 65%;
}

h2 {
	color: white;
	margin: 0;
	padding-bottom: 15px;
}

/*figure {
	text-align: center;
}*/

/*figure img {
	height: auto;
	margin: 20px;
	width: 85%;
}*/

/*figcaption {
	color: white;
	text-align: center;
}*/

.fotorama__caption__wrap {
	font-size: .75em;
	margin-bottom: 25px;
}

footer {
	background-color: #0CD9E8;
	clear: both;
	min-height: 50px;
	text-align: center;
}

footer p {
	color: #fff;
	margin: 0;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
}
