body {
    font: 1.25em Montserrat, sans-serif;
}

.my-masthead {
    background-color: #1abc9c;
    color: #ffffff;
}

.space-tb {
    padding-bottom: 2rem;
    padding-top: 2rem;
}


.mybackground1 {
    background: url(../img/head.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
/*
    margin-top: -1rem;
    padding-bottom: 4rem;
*/
    width: 100%;
}

